astroid==1.6.5
autopep8==1.4
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.3
boto3==1.9.140
botocore==1.12.140
bs4==0.0.1
cairocffi==0.9.0
CairoSVG==2.2.1
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
cs50==2.4.4
cssselect2==0.2.1
curlify==2.1.1
decorator==4.3.0
defusedxml==0.5.0
Django==2.1.1
docutils==0.14
EditorConfig==0.12.2
facebook-business==3.2.8
facebook-sdk==3.1.0
feedparser==5.2.1
Flask==1.0.2
Flask-AutoIndex==0.6.2
Flask-JSGlue==0.3.1
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask-Silk==0.2
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
flask-talisman==0.6.0
future==0.16.0
help50==2.0.1
html5lib==1.0.1
icdiff==1.9.1
idna==2.7
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.4
jsbeautifier==1.6.14
jsonschema==2.6.0
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
natsort==5.4.1
nbformat==4.4.0
nltk==3.3
oauthlib==2.1.0
passlib==1.7.1
pdfrw==0.4
pexpect==4.6.0
Pillow==9.0.1
plotly==3.3.0
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
Pygments==2.2.0
PyJWT==1.7.1
pylint==1.9.3
pylint-flask==0.5
pylint-plugin-utils==0.4
PyPDF2==1.26.0
Pyphen==0.9.5
PySocks==1.6.8
python-dateutil==2.8.0
python-dotenv==0.10.1
python-magic==0.4.15
pytz==2018.5
PyYAML==3.13
render50==3.0.2
requests==2.19.1
requests-oauthlib==1.0.0
retrying==1.3.3
s3transfer==0.2.0
six==1.11.0
SQLAlchemy==1.2.12
sqlparse==0.2.4
style50==2.6.4
termcolor==1.1.0
tinycss2==0.6.1
traitlets==4.3.2
twilio==6.25.2
twython==3.7.0
typed-ast==1.1.0
urllib3==1.23
virtualenv==16.0.0
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
