{% extends "layout.html" %}

{% block title %}
    Lead Ad Generator
{% endblock %}

{% block main %}
<div>
  <div class="row">
    <div class="col-sm-4 text-center border p-0">
        <!-- Add a 3 column row to represent the 3 steps of lead_ad_generator-->
        <div id="lead_ad_generator_menu" class="container">
            <div class="row">
                <div class="col-sm border py-3">
                    <p id="lead_ad_generator_step_1">1</p>
                </div>
                <div class="col-sm border py-3">
                    <p id="lead_ad_generator_step_2">2</p>
                </div>
                <div class="col-sm border py-3">
                    <span id="lead_ad_generator_step_3">3</span>
                </div>
            </div>
        </div>
        {% block col1 %}{% endblock %}
    </div>
    <div class="col-sm text-center border p-5">
      {% block col2 %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
