{% extends "layout.html" %}

{% block head %}
    <style>
        .navbar { display: none; }
        .btn.btn-primary { background-color: #C79031 !important;}
    </style>
{% endblock %}

{% block title %}
    Lead Ad Generator
{% endblock %}

{% block main %}

<div class="row h-100 text-white">
    <div class="col-sm-4 text-center text-white" id="lead_ad_generator_left" style="background-color:#4c637a;">
        <!-- Add a 3 column row to represent the 3 steps of lead_ad_generator-->
        <div id="lead_ad_generator_menu" class="row">
            <div id="lead_ad_generator_step_1" class="col-sm-4 py-4" style="background-color:#4c637a; border: 1px solid #4c637a;">
                <img src="https://cdn1.iconfinder.com/data/icons/material-core/20/account-circle-512.png" alt="pen" style="filter: brightness(0) invert(1);" height="40">
            </div>
            <div id="lead_ad_generator_step_2" class="col-sm-4 py-4" style="background-color:#C79031; border: 1px solid #4c637a;">
                <img src="https://cdn1.iconfinder.com/data/icons/material-core/20/home-512.png" alt="pen" style="filter: brightness(0) invert(1);" height="40">
            </div>
            <div id="lead_ad_generator_step_3" class="col-sm-4 py-4" style="background-color:#C79031; border: 1px solid #4c637a;">
                <img src="https://cdn1.iconfinder.com/data/icons/material-core/20/check-circle-512.png" alt="pen" style="filter: brightness(0) invert(1);" height="40">
            </div>
        </div>
        <div id="lead_ad_generator_left_menu" class="row px-5">
            {% block col1 %}{% endblock %}
        </div>
    </div>

    <div class="col-sm-8 text-center p-5 d-flex align-items-center" id="lead_ad_generator_right" style="background-image: linear-gradient(to bottom right, #7093B5, #C79031);">
         {% block col2 %}{% endblock %}
    </div>
</div>
{% endblock %}
